<nav aria-label="Product Pagination">
    <ul class="pagination justify-content-center justify-content-lg-end">
        <% for(var i = 1; i <= numPages; i++) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= i %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  " " %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">
                    <%= i %>
                </a>
            </li>
            <% } %>
    </ul>
</nav>